<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="AppDB" value="Data Source=localhost;Initial Catalog=merck;UID=sa;PWD=server123;" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5">
    </compilation>
    <httpRuntime maxRequestLength="15360" targetFramework="4.5" />
  </system.web>
  <system.webServer>
   <handlers>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="Uploads" />
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="10000000" />
        <!--10MB-->
      </requestFiltering>
    </security>
        <defaultDocument>
            <files>
                <add value="admin.html" />
            </files>
        </defaultDocument>
    
  </system.webServer>

</configuration>